{% extends 'layout.twig' %}


{% block onload %}
  {{ parent() }}
  <style>
    a { cursor: pointer; }
  </style>
  <script>

    function fixIcons(){
      $( ".browse-folder" ).hover(
              function() {
                console.log("HOVER");
                $(this).find( "i" ).removeClass("fa-folder-o")
                $(this).find( "i" ).addClass("fa-folder-open-o")
              }, function() {
                $(this).find( "i" ).addClass("fa-folder-o")
                $(this).find( "i" ).removeClass("fa-folder-open-o")
              }
      );
    }


    $(document).ready(function() {
      console.log("ONLOAD BROWSE");
      //open start dir
      ipcRenderer.send('get_dir', '');
      //setup listener for confirm btn, takes path form data dir, and sends start_sideload
      $("#confirmSideloadButton").on("click", function(){
        $('#confirmModal').modal('hide');
        ipcRenderer.send('start_sideload', `${$("#confirmSideloadButton").data('path')}`);
      });
      $("#sideloadDoneBtn").on("click", function(){
        $('#sideloadModal').modal('hide');
        location.reload();
      });







      function findString(str) {
        var strFound;
        strFound = self.find(str);
        if (strFound && self.getSelection && !self.getSelection().anchorNode) {
          strFound = self.find(str)
        }
        if (!strFound) {
          strFound = self.find(str, 0, 1)
          while (self.find(str, 0, 1)) continue
        }
        if (!strFound) alert("String '" + str + "' not found!")
        return;
      };
      document.getElementById('f1').onsubmit = function() {
        findString(this.t1.value);
        return false;
      };
    });



    ipcRenderer.on('start_sideload', (event, arg) => {
      console.log("start_sideload msg came ! ");
      console.log(arg)
      if (JSON.parse(arg).success) {
        var path = JSON.parse(arg).path
        var lastslashindex = path.lastIndexOf('/');
        var file= path.substring(lastslashindex  + 1)

        $('#sideloadModal').modal('show');
        $("#sideloadModal > div > div > div.modal-body > #sideloadText").html("Processing: <br><b>"+file+"</b>")
      }
    });




    ipcRenderer.on('ask_sideload', (event, arg) => {
      console.log("ask_sideload msg came ! ");
      console.log(arg)
      if (JSON.parse(arg).success) {

        var path = JSON.parse(arg).path
        var lastslashindex = path.lastIndexOf('/');
        var file= path.substring(lastslashindex  + 1)

        $("#confirmSideloadButton").data('path', path)
        $('#confirmModal').modal('show');
        $("#confirmModal > div > div > div.modal-body").html("Do you want to sideload: <br><b>"+file+"</b>")



      }
    });

    // call get_dir when selection is made
    function getDir(newpath) {
      ipcRenderer.send('get_dir', `${newpath}`);
    }


    //when dir listing comes back, list it
    ipcRenderer.on('get_dir', (event, arg) => {
      console.log("get_dir msg came: ");
      $("#listTable tbody").html('');
      if (arg.success) {
        $("#path").html(arg.path);
        loadDir(arg.path, arg.list);
        fixIcons();
      }
    });

    function loadDir(path, list) {
      let UpDir=path.substr(0, path.lastIndexOf("/"));
      $("#listTable tbody").append(`<tr><td class="browse-folder "><a onclick="getDir('${UpDir}')"><i class=\"fa fa-folder-o\" aria-hidden=\"true\"></i> &nbsp;../ (up one directory)</a><td></tr>`)
      $("#browseCardBody").html('');
      for (item in list) {
        let name=list[item].name
        fullPath = list[item].filePath.replace("\\", "/").replace("", ":")
        if (list[item].isFile) {
          if (list[item].name.endsWith(".apk")) {
            row = $("#listTable tbody").append("<tr><td><a onclick='getDir(\"" + fullPath+ "\")'><b><i class=\"browse-file fa fa-upload\" aria-hidden=\"true\"></i> &nbsp;" + `${name}</b></a><td></tr>`)
          }else{
            row = $("#listTable tbody").append("<tr><td><i class=\"browse-file fa fa-file-o\" aria-hidden=\"true\"></i> &nbsp;" + `${name}<td></tr>`)
          }
        } else {
          if (list[item].steamId) {
            imagepathbig="https://cdn.cloudflare.steamstatic.com/steam/apps/"+list[item].steamId+"/header.jpg"
            imagepath="https://cdn.cloudflare.steamstatic.com/steam/apps/"+list[item].steamId+"/capsule_sm_120.jpg"
            row = $("#listTable tbody").append("<tr><td class='browse-folder' ><a onclick='getDir(\"" + fullPath + "\")'><i class=\"fa fa-folder-o\" aria-hidden=\"true\"></i> &nbsp;" + `${name}</a><a href="https://store.steampowered.com/app/${list[item].steamId}/" target=_blank><img onerror="this.onerror=null; this.remove();" class='pull-right push-right' src="${imagepath}"></a><td></tr>`)
            row = $("#browseCardBody").append(`<div class="col mb-4">
          <div class="card h-100">
            <img src="${imagepathbig}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: black">${name}</h5>
              <p class="card-text">
<a onclick='getDir("${fullPath}")'><span class="btn btn-outline-secondary btn-block">select</span></a>
</p>
            </div>
          </div>
        </div>`);
          } else if (list[item].oculusId) {
            console.log("OCULUS "+list[item].oculusId)
            imagepath="https://vrdb.app/oculus/images/"+list[item].oculusId+".jpg"
            row = $("#listTable tbody").append("<tr><td class='browse-folder' ><a onclick='getDir(\"" + fullPath + "\")'><i class=\"fa fa-folder-o\" aria-hidden=\"true\"></i> &nbsp;" + `${name}</a><a href="https://www.oculus.com/experiences/quest/${list[item].oculusId}/" target=_blank><img onerror="this.onerror=null; this.remove();" class='pull-right push-right' src="${imagepath}"></a><td></tr>`)
            row = $("#browseCardBody").append(`<div class="col mb-4">
          <div class="card h-100">
            <img src="${imagepath}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: black">${name}</h5>
              <p class="card-text">
<a onclick='getDir("${fullPath}")'><span class="btn btn-outline-secondary btn-block">select</span></a>
</p>
            </div>
          </div>
        </div>`);
          } else {
            row = $("#listTable tbody").append("<tr><td class='browse-folder' ><a onclick='getDir(\"" + fullPath + "\")'><i class=\"fa fa-folder-o\" aria-hidden=\"true\"></i> &nbsp;" + `${name}</a><td></tr>`)
          }

        }
        console.log("appended "+ name);
      }
      $("#listTable tbody").append(`<tr><td class="browse-folder "><a onclick="getDir('${UpDir}')"><i class=\"browse-folder fa fa-folder-o\" aria-hidden=\"true\"></i> &nbsp;../ (up one directory)</a><td></tr>`)
    }

    ipcRenderer.on('sideload_aapt_done', (event, arg) => {
      $(".aaptDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_uninstall_done', (event, arg) => {
      $(".uninstallDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_apk_done', (event, arg) => {
      $(".apkDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_copy_obb_done', (event, arg) => {
      $(".copyObbDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_copy_obb_done', (event, arg) => {
      $(".moveObbDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_done', (event, arg) => {
      $(".sideloadDoneBadge").removeClass("badge-warning").addClass("badge-success");
      $("#sideloadDoneBtn").removeClass("disabled").removeClass("btn-primary").addClass("btn-success").html("Done")
      $("#sideloadRefresh").removeClass("fa-refresh").removeClass("fa-spin").addClass("fa-check-circle-o")
    });

  </script>
{% endblock %}


{% block body %}


  <div class="card text-white bg-secondary">
    <div class="card-header">
      <h2 class="pull-left push-left">Browsing <b><u id="path"></u></b></h2>
      <h2 class="pull-right push-right"><span id="mountBadge" class="badge badge-warning badge-md">Drive not mounted, browsing local content only</span></h2>
    </div>
    <div class="card-body">
      <p class="card-text">

      <form name="f1" id="f1" action="">
        <input  class="form-control"  placeholder="Type a word and find occurrences using [ENTER]" type="text" name="t1" value="" />
      </form>
      <br>

      <div id="browseCardBody" class="row row-cols-1 row-cols-md-3">

      </div>



      <table class="table table-striped table-condensed" id="listTable">
        <tbody>
        {% for item in list %}
          <tr id="listTr">
            {#
            <td  style="height: 20px"><a style="color: black; font-weight: bold" href="/browse?path={{ path }}/{{ item|replace({(path): ""}) }}">{{ item|replace({(path): ""}) }}</a></td>
            #}
            {# <td>
          <button type="button" class="btn btn-danger"><i class="fa fa-upload"></i></button>
            #}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>



      </p>
    </div>
  </div>








  <!-- Modal -->
  <div class="modal fade" id="sideloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i  id="sideloadRefresh" class="fa fa-refresh fa-spin"></i> Sideloading</h5>
        </div>
        <div class="modal-body">
          <span id="sideloadText"></span>
          <br>
          <span class="deviceBadge badge badge-warning badge-md">Check device</span>
          <br>
          <span class="aaptDoneBadge badge badge-warning badge-md">Read Packageinfo</span>
          <br>
          <span class="uninstallDoneBadge badge badge-warning badge-md">Uninstall APK</span>
          <br>
          <span class="apkDoneBadge badge badge-warning badge-md">Install APK</span>
          <br>
          <span class="copyObbDoneBadge badge badge-warning badge-md">Copy OBB's</span>
          <br>
          <span class="moveObbDoneBadge badge badge-warning badge-md">Move OBB's</span>
          <br>
          <span class="sideloadDoneBadge badge badge-warning badge-md">Sideload finished</span>
          <br>
        </div>
        <div class="modal-footer">
          {# <button type="button" class="btn btn-secondary disabled" data-dismiss="modal">Close</button> #}
          <button type="button" id="sideloadDoneBtn" class="btn btn-primary disabled">Please wait for the process to finish</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" id="confirmSideloadButton" class="btn btn-primary disabled">Yes</button>
        </div>
      </div>
    </div>
  </div>





{% endblock %}
