{% extends 'layout.twig' %}


{% block onload %}
  {{ parent() }}
  <style>
    a { cursor: pointer; }
  </style>
  <script>
    $(document).ready(function() {
      console.log("ONLOAD BROWSE");
      //open start dir
      ipcRenderer.send('get_dir', '');
      //setup listener for confirm btn, takes path form data dir, and sends start_sideload
      $("#confirmSideloadButton").on("click", function(){
        $('#confirmModal').modal('hide');
        ipcRenderer.send('start_sideload', `${$("#confirmSideloadButton").data('path')}`);
      });
    });



    ipcRenderer.on('start_sideload', (event, arg) => {
      console.log("start_sideload msg came ! ");
      console.log(arg)
      if (JSON.parse(arg).success) {
        var path = JSON.parse(arg).path
        var lastslashindex = path.lastIndexOf('/');
        var file= path.substring(lastslashindex  + 1)

        $('#sideloadModal').modal('show');
        $("#sideloadModal > div > div > div.modal-body > #sideloadText").html("Processing: <br><b>"+file+"</b>")
      }
    });




    ipcRenderer.on('ask_sideload', (event, arg) => {
      console.log("ask_sideload msg came ! ");
      console.log(arg)
      if (JSON.parse(arg).success) {

        var path = JSON.parse(arg).path
        var lastslashindex = path.lastIndexOf('/');
        var file= path.substring(lastslashindex  + 1)

        $("#confirmSideloadButton").data('path', path)
        $('#confirmModal').modal('show');
        $("#confirmModal > div > div > div.modal-body").html("Do you want to sideload: <br><b>"+file+"</b>")



      }
    });

    // call get_dir when selection is made
    function getDir(newpath) {
      ipcRenderer.send('get_dir', `${newpath}`);
    }


    //when dir listing comes back, list it
    ipcRenderer.on('get_dir', (event, arg) => {
      console.log("get_dir msg came: ");
      $("#listTable tbody").html('');
      if (arg.success) {
        $("#path").html(arg.path)
        loadDir(arg.path, arg.list)
      }
    });

    function loadDir(path, list) {
      let UpDir=path.substr(0, path.lastIndexOf("/"));
      $("#listTable tbody").append(`<tr><td><a onclick="getDir('${UpDir}')"><i class=\"fa fa-folder-open-o\" aria-hidden=\"true\"></i> &nbsp;../ (up one directory)</a><td></tr>`)
      for (item in list) {
        let name=list[item].name
        fullPath = list[item].filePath.replace("\\", "/")
        if (list[item].isFile) {
          if (list[item].name.endsWith(".apk")) {
            row = $("#listTable tbody").append("<tr><td><a onclick='getDir(\"" + fullPath+ "\")'><b><i class=\"fa fa-upload\" aria-hidden=\"true\"></i> &nbsp;" + `${name}</b></a><td></tr>`)
          }else{
            row = $("#listTable tbody").append("<tr><td><i class=\"fa fa-file-o\" aria-hidden=\"true\"></i> &nbsp;" + `${name}<td></tr>`)
          }
        } else {
          if (  (new RegExp(".*\ steam:")).test(fullPath)  ) {
            imagepath="https://cdn.cloudflare.steamstatic.com/steam/apps/"+fullPath.split(' steam:')[1]+"/capsule_sm_120.jpg"
            row = $("#listTable tbody").append("<tr><td><a onclick='getDir(\"" + fullPath + "\")'><i class=\"fa fa-folder-open-o\" aria-hidden=\"true\"></i> &nbsp;" + `${name}</a><a href="https://store.steampowered.com/app/${fullPath.split(' steam:')[1]}/" target=_blank><img onerror="this.onerror=null; this.remove();" class='pull-right push-right' src="${imagepath}"></a><td></tr>`)
          } else {
            row = $("#listTable tbody").append("<tr><td><a onclick='getDir(\"" + fullPath + "\")'><i class=\"fa fa-folder-open-o\" aria-hidden=\"true\"></i> &nbsp;" + `${name}</a><td></tr>`)
          }

        }
        console.log("appended "+ name);
      }
      $("#listTable tbody").append(`<tr><td><a onclick="getDir('${UpDir}')"><i class=\"fa fa-folder-open-o\" aria-hidden=\"true\"></i> &nbsp;../ (up one directory)</a><td></tr>`)
    }

  </script>
{% endblock %}


{% block body %}


  <div class="card text-white bg-{% if mountcheck %}success{% else %}info{% endif %}">
    <div class="card-header">
      <h2 class="pull-left push-left">Browsing <b><u id="path"></u></b></h2>
      <h2 class="pull-right push-right"><span id="mountBadge" class="badge badge-warning badge-md">Drive not mounted, browsing local content only</span></h2>
    </div>
    <div class="card-body">
      <p class="card-text">



      <table class="table table-striped table-condensed" id="listTable">
        <tbody>
        {% for item in list %}
          <tr id="listTr">
            {#
            <td  style="height: 20px"><a style="color: black; font-weight: bold" href="/browse?path={{ path }}/{{ item|replace({(path): ""}) }}">{{ item|replace({(path): ""}) }}</a></td>
            #}
            {# <td>
          <button type="button" class="btn btn-danger"><i class="fa fa-upload"></i></button>
            #}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>



      </p>
    </div>
  </div>








  <!-- Modal -->
  <div class="modal fade" id="sideloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i  id="mountrefresh" class="fa fa-refresh fa-spin"></i> Sideloading</h5>
        </div>
        <div class="modal-body">
          <span id="sideloadText"></span>
          <br>
          <span class="badge badge-warning badge-md">Check device</span>
          <br>
          <span class="badge badge-warning badge-md">Install APK</span>
          <br>
          <span class="badge badge-warning badge-md">Copy OBB's</span>
          <br>
          <span class="badge badge-warning badge-md">Done OBB's</span>
          <br>
        </div>
        <div class="modal-footer">
          {# <button type="button" class="btn btn-secondary disabled" data-dismiss="modal">Close</button> #}
          <button type="button" class="btn btn-primary disabled">Please wait for the process to finish</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" id="confirmSideloadButton" class="btn btn-primary disabled">Yes</button>
        </div>
      </div>
    </div>
  </div>





{% endblock %}
