<script>
        console.log("ONLOAD BROWSE");
        //open start dir
        ipcRenderer.send('get_dir', '');
        //load in searchform
        loadInclude('searchform.twig', 'searchformdiv');

        // call get_dir when selection is made
        function getDir(elem) {
            newpath = elem.dataset.path
            ipcRenderer.send('get_dir', `${newpath}`);
        }


</script>


<style>
    .ribbon-wrapper-green {
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: -3px;
        right: -3px;
    }

    .ribbon-green {
        font: bold 15px Sans-Serif;
        color: #333;
        text-align: center;
        text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        position: relative;
        padding: 7px 0;
        left: -5px;
        top: 15px;
        width: 120px;
        background-color: #BFDC7A;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
        background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
        background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
        background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
        background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
        color: #6a6340;
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }

    .ribbon-green:before, .ribbon-green:after {
        content: "";
        border-top: 3px solid #6e8900;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        position: absolute;
        bottom: -3px;
    }

    .ribbon-green:before {
        left: 0;
    }

    .ribbon-green:after {
        right: 0;
    }
</style>



<div class="card text-white bg-secondary">
    <div class="card-header">
        <h2 class="pull-left push-left">Browsing <b><u id="path"></u></b></h2>
        <h2 class="pull-right push-right"  id="browseheader">
        <script>
            if (remote.getGlobal('mounted')) {
                $('#browseheader').html(`<a data-path="${remote.getGlobal('mountFolder')}" onclick="getDir(this)"><span id="mountBadge" class="badge badge-success badge-md"><i id="mountrefresh" class="fa fa-check-circle-o"></i> Click to browse mount</a></span></a>`)
            } else {
                $('#browseheader').html(`<span id="mountBadge" class="badge badge-warning badge-md">Drive not mounted, browsing local content only</span>`);
            }
        </script>


        </h2>
    </div>
    <div class="card-body">
        <p class="card-text">

        <div id="searchformdiv"></div>
        <br>


        <div id="browseCardBody" class="row row-cols-2 row-cols-md-6" style="font-size: smaller">
        </div>

        <table class="table table-striped table-condensed" id="listTableStart">
            <tbody>
            </tbody>
        </table>
        <table class="table table-striped table-condensed" id="listTable">
            <tbody>
            </tbody>
        </table>
        <table class="table table-striped table-condensed" id="listTableEnd">
            <tbody>
            </tbody>
        </table>

        </p>
    </div>
</div>


