{% extends 'layout.twig' %}

{% block onload %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}


    <div class="card text-white bg-danger">
        <div class="card-header">Error</div>
        <div class="card-body">
            <p class="card-text">

                {#<h1>message</h1>#}
            <h2>{{error.status}}</h2>
            <pre>{{error.stack}}</pre>

            <pre>{{message}}</pre>

            <a href="index.twig" class="btn btn-info">Try again</a>

            </p>
        </div>
    </div>




{% endblock %}
