{% extends 'layout.twig' %}


{% block onload %}
  {{ parent() }}
<script>
    $(document).ready(function() {
        console.log("ONLOAD INDEX");
        console.log("sending check_deps")
        ipcRenderer.send('check_deps', 'bla');

        ipcRenderer.on('check_deps', (event, arg) => {
            console.log("check_deps msg came: "+arg); // prints "ping"
            console.log(JSON.parse(arg));
            if (JSON.parse(arg).success) {
                $("#adbCheckIndicator").removeClass("badge-danger");
                $("#adbCheckIndicator").addClass("badge-success");
                $("#adbCheckIndicator").html(`<i  id="mountrefresh" class="fa fa-check-circle-o"></i> ADB Installed.`)
                $("#aaptCheckIndicator").removeClass("badge-danger");
                $("#aaptCheckIndicator").addClass("badge-success");
                $("#aaptCheckIndicator").html(`<i  id="mountrefresh" class="fa fa-check-circle-o"></i> AAPT Installed.`)
                $("#rcloneCheckIndicator").removeClass("badge-danger");
                $("#rcloneCheckIndicator").addClass("badge-success");
                $("#rcloneCheckIndicator").html(`<i  id="mountrefresh" class="fa fa-check-circle-o"></i> RCLONE Installed.`)
            }
        });

        //ipcRenderer.send('mount', 'bla');
    });
</script>
{% endblock %}



{% block body %}



    <div class="card text-white bg-{% if depsok %}success{% else %}warning{% endif %}">
        <div class="card-header">System check</div>
        <div class="card-body">
            <h5 class="card-title"><span class="badge badge-success"><i  id="mountrefresh" class="fa fa-check-circle-o"></i> Platform Detected: {{ platform }}</span></h5>
            <p class="card-text">

                <span class="badge badge-success"><i  id="mountrefresh" class="fa fa-check-circle-o"></i> Temp Dir Detected: {{ tmpdir }}</span>
                <br>
                <span class="badge badge-success"><i  id="mountrefresh" class="fa fa-check-circle-o"></i> Mount Dir Detected: {{ mountFolder }}</span>

                <br>

                <span class="badge badge-danger" id="adbCheckIndicator">ADB not found | PLEASE INSTALL ADB GLOBALLY</span>
                <br>
                {# <span class="badge badge-danger" id="aaptCheckIndicator">AAPT not found | PLEASE INSTALL ADB GLOBALLY</span>
                <br>
                #}
                <span class="badge badge-danger" id="rcloneCheckIndicator">RCLONE not found | PLEASE INSTALL RCLONE GLOBALLY</span>


            </p>
        </div>
    </div>




{% endblock %}
