{% extends 'layout.twig' %}


{% block onload %}
  {{ parent() }}
  <script>
    $(document).ready(function() {
      console.log("ONLOAD installed");
      $("#updateBadge").hide();
      ipcRenderer.send('get_installed', '');
      $("#updateBadge").html(`<i class="fa fa-refresh fa-spin"></i> Please wait`)

      ipcRenderer.on('list_installed_app', (event, arg) => {
        console.log("list_installed_app msg came ! ");
        console.log(arg)
        trstring = `<tr><td style="font-weight: bolder; font-size: large">${arg.packageName} VersionCode: ${arg.versionCode})`
        if (arg.update) {
          trstring += `<a onclick="update('${arg.update.path}')"><h2 class="pull-right push-right"><span class="badge badge-success badge-md">Update to ${arg.update.versionCode}</span></h2></a>`
        } else {
          trstring += `<a onclick="alert('todo')"><h2 class="pull-right push-right"><span class="badge badge-warning badge-md">Uninstall</span></h2></a>`
        }
        trstring += `<td></tr>`
        row = $("#listTable tbody").append(trstring)
      });

      ipcRenderer.on('get_installed', (event, arg) => {
        console.log("get_installed msg came ! ");
        console.log(arg)
        if (arg.success) {
          $("#updateBadge").html(`<a onclick="getUpdates('')">Click to check mount for updates</a>`)
          $("#updateBadge").show();
        }
      });




    });

    function getUpdates() {
      $("#updateBadge").html(`<i class="fa fa-refresh fa-spin"></i> Please wait`)
      $("#listTable tbody").html('');
      ipcRenderer.send('get_installed_with_updates', ``);
    }

    function update(path) {
      ipcRenderer.send('update', path);
    }

  </script>
{% endblock %}

{% block body %}

  <div class="card text-white bg-secondary">
    <div class="card-header">
      <h2 class="pull-left push-left">Installed APP's</h2>
      <h2 class="pull-right push-right"><span id="updateBadge" class="badge badge-warning badge-md">Drive not mounted, cannot check for updates</span></h2>
    </div>
    <div class="card-body">
      <p class="card-text">


      <table class="table table-striped table-condensed" id="listTable">
        <tbody>
        </tbody>
      </table>



      </p>
    </div>
  </div>


{% endblock %}
