<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <script>window.$ = window.jQuery = require('jquery');</script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>



  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">

  <title>Quest-Sideloader-Linux</title>


  <style>
    a { cursor: pointer; }
  </style>

  <script>
    const electron = window.require('electron');
    const { ipcRenderer } = electron
    const remote = electron.remote
    const {dialog} = remote

    function loadInclude(template, id = null) {
      if (!id) {
        $('#mainbody').html('');
        $('#mainbody').load(template);
      } else {
        $(`#${id}`).load(template);
      }
    }
  </script>

  <script src="browse.js"></script>
  <script src="installed.js"></script>

  <script>


    ipcRenderer.on('get_storage', (event, arg) => {
      console.log("get_storage ! ");
      console.log(arg)
      if (arg.success) {
        $("#storageDiv").html(`
<span class="pull-left push-left">Size: ${arg.storage[0]}</span>
<span class="pull-right push-right">Available: ${arg.storage[2]}</span>
<center>Used: ${arg.storage[1]}(${arg.storage[3]})</center>
              <div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: ${arg.storage[3]}" aria-valuenow="${arg.storage[3].replace('%', '')}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
          `)
      }
    });

    ipcRenderer.on('notify_update', (event, arg) => {
      console.log("notify_update msg came ! ");
      dialog.showMessageBox(null, {
        type: 'info',
        buttons: ['Understood'],
        title: 'Update available',
        message: `sidenoder-${arg.remote} is now available on github.`,
        detail: 'Please visit https://github.com/whitewhidow/quest-sidenoder/releases',
      })
    });

    ipcRenderer.on('ask_sideload', (event, arg) => {
      console.log("ask_sideload msg came ! ");
      console.log(arg)
      if (JSON.parse(arg).success) {
        var path = JSON.parse(arg).path
        var lastslashindex = path.lastIndexOf('/');
        var file= path.substring(lastslashindex  + 1)

        $("#confirmSideloadButton").data('path', path)
        $('#confirmModal').modal('show');
        $("#confirmModal > div > div > div.modal-body").html("Do you want to sideload: <br><b>"+file+"</b>")

      }
    });


    ipcRenderer.on('start_sideload', (event, arg) => {
      console.log("start_sideload msg came ! ");
      console.log(arg)
      if (JSON.parse(arg).success) {
        var path = JSON.parse(arg).path
        var lastslashindex = path.lastIndexOf('/');
        var file= path.substring(lastslashindex  + 1)

        $('#sideloadModal').modal('show');
        $("#sideloadModal > div > div > div.modal-body > #sideloadText").html("Processing: <br><b>"+file+"</b>")
      }
    });


    ipcRenderer.on('rclone_data', (event, arg) => {
      data=arg;
      //console.log(arg)
      if(data.transferring && data.transferring.length > 0) {
          $("#progressstatus").text(data.transferring[0].percentage + "% - " + formatBytes(data.transferring[0].speedAvg) + "/s" + " - " + formatEta(data.transferring[0].eta));
          $(".mountcopystatus").text("(Downloading: "+data.transferring[0].percentage + "% - " + formatBytes(data.transferring[0].speedAvg) + "/s" + " - " + formatEta(data.transferring[0].eta) + ")");
      } else {
          $("#progressstatus").text("CONNECTED");
        $(".mountcopystatus").text('')
      }
    });


    ipcRenderer.on('sideload_aapt_done', (event, arg) => {
      $(".aaptDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_check_done', (event, arg) => {
      $(".checkDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_backup_done', (event, arg) => {
      $(".backupDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_uninstall_done', (event, arg) => {
      $(".uninstallDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_restore_done', (event, arg) => {
      $(".restoreDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_apk_done', (event, arg) => {
      $(".apkDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_copy_obb_done', (event, arg) => {
      $(".copyObbDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_copy_obb_done', (event, arg) => {
      $(".moveObbDoneBadge").removeClass("badge-warning").addClass("badge-success");
    });
    ipcRenderer.on('sideload_done', (event, arg) => {
      $(".sideloadDoneBadge").removeClass("badge-warning").addClass("badge-success");
      $("#sideloadDoneBtn").removeClass("disabled").removeClass("btn-primary").addClass("btn-success").html("Done")
      $("#sideloadRefresh").removeClass("fa-refresh").removeClass("fa-spin").addClass("fa-check-circle-o")
    });

    function checkMount() {
      $("#mountrefresh").addClass("fa-spin");
      $("#mountbtn").removeClass("btn-danger");
      $("#mountbtn").addClass("btn-warning");
      ipcRenderer.send('mount', 'bla');
    }

    ipcRenderer.on('log', (event, arg) => {
      console.log("log came")
      console.log(arg)
    });

    // edit btn on browse page
    ipcRenderer.on('check_mount', (event, arg) => {
      if (JSON.parse(arg).success) {
        $("#browseheader").html(`<span id="mountBadge" class="badge badge-warning badge-md"><a data-path="${JSON.parse(arg).mountFolder}" onclick="getDir(this)"><i id="mountrefresh" class="fa fa-check-circle-o"></i> Click to browse mount</a></span>`)
        $("#mountBadge").removeClass("badge-warning");
        $("#mountBadge").addClass("badge-success");
      }
    });

    // edit btn on installed apps page
    ipcRenderer.on('check_mount', (event, arg) => {
      if (JSON.parse(arg).success) {
        $("#updateBadge").removeClass("badge-danger");
        $("#updateBadge").addClass("badge-success");
        $("#updateBadge").html(`<a onclick="getUpdates(this)">Click to check mount for updates [BETA]</a>`)
      }
    });

    //edit btn on top
    ipcRenderer.on('check_mount', (event, arg) => {
      console.log("check_mount responded: "+arg); // prints "ping"
      console.log(JSON.parse(arg));
      if (JSON.parse(arg).success) {
        $("#mountrefresh").removeClass("fa-spin");
        $("#mountbtn").removeClass("btn-danger");
        $("#mountbtn").removeClass("btn-danger");
        $("#mountbtn").addClass("btn-success");
        $("#mountbtn").html(`<i  id="mountrefresh" class="fa fa-check-circle-o"></i> | Mount status:</br><span id="progressstatus"></span>`)
        $("#mountbtn").onclick = function() {return false;}
      } else {
        $("#mountrefresh").removeClass("fa-spin");
        $("#mountbtn").removeClass("btn-danger");
        $("#mountbtn").addClass("btn-danger");
      }
    });




    function checkDevice() {
      $("#devicerefresh").addClass("fa-spin");
      $("#devicebtn").removeClass("btn-danger");
      $("#devicebtn").addClass("btn-warning");
      ipcRenderer.send('get_device', 'bla');
    }

    ipcRenderer.on('get_device', (event, arg) => {
      console.log("get_device msg came FROM BE to fe:"); // prints "ping"
      console.log(arg);
      if (arg.success !== false) {
        console.log('GETDEVICE SUCESS')
        $("#devicebtn").removeClass("btn-danger");
        $("#devicebtn").addClass("btn-success");
        $("#devicebtn").html(`<i id="devicerefresh" class="fa fa-check-circle-o"></i> | Quest status:</br>Connected.`)

        $(".deviceBadge").removeClass("badge-warning");
        $(".deviceBadge").addClass("badge-success");

        $("#installedAppsNav").removeClass("disabled");
        $("#installedAppsNav").removeClass("btn-secondary");
        $("#installedAppsNav").addClass("btn-primary");
      } else {
        $("#devicebtn").removeClass("btn-success");
        $("#devicebtn").addClass("btn-danger");
        $("#devicebtn").html(`<i id="devicerefresh" class="fa fa-refresh fa-spin"></i> | Quest status:</br>Disconnected.`)

        //$("#installedAppsNav").addClass("disabled");
      }
    });



  </script>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js">// screenshot stuff</script>
  <script> // screenhot stuff
    async function makeScreenshot(selector = "body") {
      return new Promise((resolve, reject) => {
        let node = document.querySelector(selector);
        html2canvas(node, {
          onrendered: (canvas) => {
            let pngUrl = canvas.toDataURL();
            resolve(pngUrl);
          }, allowTaint: true
        });
      });
    }
    async function report() {
      let screenshot = await makeScreenshot(); // png dataUrl
      console.log(screenshot)
      var fs = require("fs");
      const base64Data = screenshot.replace(/^data:([A-Za-z-+/]+);base64,/, '');
      fs.writeFile("outt.png", base64Data, 'base64', (err) => {
        console.log(err);
      });
    }
  </script>



  {% block onload %}
    <script>
      $(document).ready(function() {


        // dialog.showMessageBox(null, {
        //   type: 'info',
        //   //buttons: ['Cancel', 'Yes, please', 'No, thanks'],
        //   //defaultId: 2,
        //   title: 'Update availablee',
        //   message: 'A',
        //   detail: 'It does not really matter',
        //   checkboxLabel: 'Remember my answer',
        //   checkboxChecked: true,
        // })




        console.log("ONLOAD");
        ipcRenderer.send('check_mount', 'bla');
        //checkMount()
        ipcRenderer.send('get_device', 'bla');

        console.log("setup ask device listener")
        ipcRenderer.on('ask_device', (event, arg) => {
          console.log("ask_device msg came ! ");
          dialog.showMessageBox(null, {
            type: 'info',
            buttons: ['Understood'],
            title: 'Missing device',
            message: `This action cannot be performed without a device attached.`,
          })
        });


        //setup listener for confirm btn, takes path form data dir, and sends start_sideload
        $("#confirmSideloadButton").on("click", function(){
          $('#confirmModal').modal('hide');
          ipcRenderer.send('start_sideload', `${$("#confirmSideloadButton").data('path')}`);
        });
        $("#sideloadDoneBtn").on("click", function(){
          $('#sideloadModal').modal('hide');
          loadInclude('browse_include.twig');
        });

      });
    </script>
  {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">

{#  <a class="navbar-brand" href="index.twig">Q-S-L</a>#}

  <img src="quest-sidenoder.svg" width="78" height="78" alt="" style="margin-right: 20px">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% block navbar %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {#
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      #}
      <li class="nav-item">
        <a class="btn btn-primary" style="margin-right: 20px"  onclick="loadInclude('browse_include.twig')">
          <i class="fa fa-folder-open-o" aria-hidden="true"></i> Browse
        </a>
      </li>
      {#
      <li class="nav-item">
        <a class="nav-link {% if not mountcheck %}disabled{% endif %}" href="/browse" >Browse drive</a>
      </li>
      #}
      <li class="nav-item">
        <a id="installedAppsNav" class="btn btn-secondary disabled" style="margin-right: 20px" onclick="loadInclude('installed_include.twig')">
          <i class="fa fa-list" aria-hidden="true"></i>
           Installed APP's
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" style="margin-right: 20px"  onclick="loadInclude('settings_include.twig')">
          <i class="fa fa-cog" aria-hidden="true"></i>
           Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa fa-bug" aria-hidden="true"></i> REPORT AN ISSUE
        </a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">

      <span type="button"  id="mountbtn" onclick="checkMount()" class="btn btn-lg btn-danger" disabled><i  id="mountrefresh" class="fa fa-refresh"></i> | Mount status:</br>Disconnected.</span>
  &nbsp;

        <span type="button" id="devicebtn" {# onclick="checkDevice()" #} class="btn btn-lg btn-danger"  disabled><i id="devicerefresh" class="fa fa-spin fa-refresh"></i> | Quest status:</br>Disconnected.</span>


      {# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> #}
    </form>

  </div>
  {% endblock %}
</nav>


<div style="padding: 20px">


  <p>

  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      If you encounter any issues or bugs, please report them at https://github.com/whitewhidow/quest-sidenoder/issues<br>
      If you encounter any applications that have missing or incorrect data, please report them at https://t.me/whitewhidow<br>
    </div>
    <br>
  </div>



{% block body %}{% endblock %}
  <hr>
  <center>
    <b>sidenoder v{{ version }}</b>
    <br>
    https://github.com/whitewhidow/quest-sidenoder
    <br>
    https://t.me/whitewhidow
    <br>
  </center>
</div>


<!-- Modal -->
<div class="modal fade" id="sideloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i  id="sideloadRefresh" class="fa fa-refresh fa-spin"></i> Sideloading</h5>
        <span class="mountcopystatus"></span>
      </div>
      <div class="modal-body">
        <span id="sideloadText"></span>
        <br>
        <span class="deviceBadge badge badge-warning badge-md">Check device</span>
        <br>
        <span class="aaptDoneBadge badge badge-warning badge-md">Read Packageinfo</span>
        <br>
        <span class="checkDoneBadge badge badge-warning badge-md">Check if installed</span>
        <br>
        <span class="backupDoneBadge badge badge-warning badge-md">Backup Appdata</span>
        <br>
        <span class="uninstallDoneBadge badge badge-warning badge-md">Uninstall APK</span>
        <br>
        <span class="restoreDoneBadge badge badge-warning badge-md">Restore Appdata</span>
        <br>
        <span class="apkDoneBadge badge badge-warning badge-md">Install APK</span>
        <br>
        <span class="copyObbDoneBadge badge badge-warning badge-md">Copy OBB's</span>
        <br>
        <span class="moveObbDoneBadge badge badge-warning badge-md">Move OBB's</span>
        <br>
        <span class="sideloadDoneBadge badge badge-warning badge-md">Sideload finished</span>
        <br>
      </div>
      <div class="modal-footer">
        {# <button type="button" class="btn btn-secondary disabled" data-dismiss="modal">Close</button> #}
        <button type="button" id="sideloadDoneBtn" class="btn btn-primary disabled">Please wait for the process to finish</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" id="confirmSideloadButton" class="btn btn-primary disabled">Yes</button>
      </div>
    </div>
  </div>
</div>



<!--
 Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script>


  function formatEta(seconds) {
    if (seconds == null) { return "Starting..."; }
    hours = Math.floor(seconds / 3600);
    seconds -= hours * 3600;
    minutes = Math.floor(seconds / 60);
    seconds -= minutes * 60;
    if (hours > 0) {
      return hours + "h " + minutes + "m " + seconds + "s";
    } else if (minutes > 0) {
      return minutes + "m " + seconds + "s";
    } else {
      return seconds + "s";
    }
  }

  function formatBytes(bytes) {
    var sizes = ['B', 'KB', 'MB', 'GB', 'TB'];
    if (bytes == 0) return '0 B';
    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
    return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
  }

</script>
</body>
</html>

