{% extends 'layout.twig' %}


{% block onload %}
  {{ parent() }}

{% endblock %}


{% block body %}


  <div class="card text-white bg-info">
    <div class="card-header">
      Sideloading xxx
    </div>
    <div class="card-body">
      <p class="card-text">





      </p>
    </div>
  </div>







{% endblock %}
